@mixin center($position) {
  display: flex;
  justify-content: $position;
  align-items: center;
}

$wBlue: #3a68f9;
$wWhite: #fff;
$fontBlack: #333;
$wBlack: #000;
$wGreen: #22bd79;
$wLightGray: #999;
$wDarkGray: #666;

body {
  font-family: -apple-system, Helvetica, Arial, "hiragino kaku gothic pro",
    meiryo, "Microsoft YaHei", "ms pgothic", "Apple SD Gothic Neo",
    "Nanum Gothic", "Malgun Gothic", sans-serif;
}
